# Node (React)
node_modules/
build/
dist/
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Spring Boot / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Compiled Java class files
*.class

# Package files
*.jar
*.war
*.ear

# IDEs and editors
/.idea
*.iml
*.iws
.vscode/
*.sublime-workspace
*.sublime-project
*.ipr

# Operating System Files
.DS_Store
Thumbs.db

# Log files
*.log

# Package lock files
package-lock.json
yarn.lock

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Temporary files
*.tmp
*.bak
*.swp
*~.nib

# Eclipse-specific files
.classpath
.project
.settings/

# NetBeans-specific files
nbproject/
nbbuild/
nbdist/
.nb-gradle/

# Ignore JMH benchmarks
benchmarks/
